:root {
    /* color */
    --white: white;
    --black: black;
    --red: red;
    --gainsboro: #DCDCDC;
    --dogerblue: #1E90FF;
    --orange: #FF9800;
    /* display */
    --d-flex: flex;
    --d-block: block;
    --d-none: none;
    --hidden: hidden;
    /* position */
    --center: center;
    /* spacing */
    --auto: auto;
    --spacing-15: 15px;
    --spacing-10: 10px;
    --spacing-5: 5px;
    --first-load: 1s ease-in-out 0s 1 firstLoad;
    /* border */
    --b1-black: 1px solid var(--black);
    --b1-gainsboro: 1px solid var(--gainsboro);
    /* transition */
    --transition : all .5s ease-in-out 0s;
}

@media (max-width: 425px){
    .ant-card-grid {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 1300px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1600px;
    }
}