@import './config.css';

.container {
    padding-right: var(--spacing-15);
    padding-left: var(--spacing-15);
    margin-right: var(--auto);
    margin-left: var(--auto);
}

@media (max-width: 425px){
    .ant-card-grid {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.px-15 {
    padding-left: 15px;
    padding-right:  15px;
}

.main-navbar {
    background: #fff;
    padding: var(--spacing-15);
}

.navbar-menu {
    background: #223a65;
    width: 100vw;
    padding: var(--spacing-15);
    line-height: 1.5;
    color:white;
    margin-bottom: var(--spacing-15);
}

.navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap-reverse;
}

.navbar-flex a {
    color: white;
    transition: .5s ease;
    cursor: pointer;
}

.navbar-flex a:hover {
    color: salmon;
    font-weight: bold;
}

.ant-card-grid {
    transition: .5s;
}

.card-grid-custome{
    /* width: 24.299% !important; */
    width: 18.5% !important;
    cursor: pointer !important;
    padding: 0 !important;
    margin: 6px !important;
    border: none !important;
    text-align: center !important;
    margin-bottom: 10px !important;
}

.inside-hover {
    display: none;
}

.ant-card-head {
    padding: 0 9px !important;
}

.ant-card-grid-hoverable:hover{
    transform: scale(1.1) !important;
    background-color: white;
}

.card-grid-custome img{
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    object-fit: cover;
}

.card-grid-custome .card-description {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 10px; 
    background: white;
    z-index: 1;
}

.card-description .card-desc-left {
    background: #4458c7de; 
    padding: 5;
    flex-grow: 1; 
    color: white;
}

.card-description .card-desc-right {
    background: #ffc625; 
    color: black; 
}

.card-description .card-desc-right small {
    padding: 5px;
}

.card-grid-custome .card-desc-bottom {
    color: black;
    padding: 3px;
}

.list-right-sidebar {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dcdcdc;
}

.ant-col .ant-col-24 .ant-row .list-right-sidebar:last-child(2) {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.list-right-sidebar img {
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    object-fit: cover;
}

/* .flex-container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid red;
}

.row-flex { 
    flex-direction: row;
}

.flex-item {
    padding: 5px;
    margin: 5px;
    color: black;
}

div .flex-item:first-child {
    border: 1px solid red;
    width: 20%;
    height: 40px;
    line-height: 35px;
    text-align: center;
    
}

img .flex-item:last-child(2) {
   width: 30%;
}

.flex-item img {
    width: 50%;
    
    display: inline-block;
} */