@import './config.css';

.container {
    padding-right: var(--spacing-15);
    padding-left: var(--spacing-15);
    margin-right: var(--auto);
    margin-left: var(--auto);
}
/* 
.float-left {
    float: left;
}

.float-right {
    float: right;
} */

@media (max-width: 425px){
    .ant-card-grid {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 1300px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1600px;
    }
}

.pr-15 {
    padding-right:  15px;
}

.main-navbar {
    background: #000000c7;
    width: 100%;
    line-height: 1.5;
    color:white;
    position: sticky;
    top: 0;
    z-index: 1;
    /* position: relative; */
    margin-bottom: var(--spacing-15);
}

.ant-card-bordered {
    border: none !important;
    margin-bottom: 15px !important;
}

.navbar-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.navbar-flex a {
    color: white;
    cursor: pointer;
}

.navbar-flex a h1{
    color: white;
    cursor: pointer;
}

.navbar-flex a:hover {
    color: red;
    font-weight: bold;
}

.title-movie h2{
    color: white;
    padding: 15px 3px;
}

.card-grid-custome {
    cursor: pointer;
    display: block;
    margin: 6px;
    text-align: center;
    font-size: 16px;
    position: relative;
    transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -webkit-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
}

.card-grid-custome img{
    width: 100%;
    height: 320px;
    position: relative;
    background-repeat: no-repeat;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -webkit-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
}

.card-wrapper {
    width: 100%;
    height: 320px;
    background: rgba(0,0,0,0.73);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 65px 15px 5px;
    opacity: 0; 
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -webkit-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
}

.card-wrapper .card-main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.card-wrapper .card-main:first-child div{
    margin-bottom: 4rem;
}

.card-wrapper .card-main small{
    padding-left: 15px;
    padding-right: 15px;
    color: red;
}

.card-grid-custome:hover .card-wrapper{
    opacity: 2;
    z-index: 1;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
        transform: scale(1.3);
}
.card-grid-custome:hover img{
    z-index: 1;
    filter: grayscale(1);
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
}

.list-right-sidebar {
    padding: 9px;
    background: white;
    border-bottom: 1px solid #eaeaea;
}

.list-rating {
    position: relative;
    text-align: center;
    border: 1px solid #ffc107;
    height: 30px;
    margin: 0 10px 0 0;
    padding: 5px;
    font-size: 12px;
    border-radius: 20%;
}

.list-rating p {
    line-height: 15px;
    margin-bottom: 0;
}

.list-image {
    width: 100%;
    height: auto;
    position: relative;
    padding-right: 10px;
}

.list-image img{
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
}

.list-desc {
    height: auto;
}

.list-desc p{
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.list-desc p:first-child{
    font-weight: bold;
}

.list-desc p:last-child{
    color: #9c9a9a;
}

.image-sidebar-right-top {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-group-costum {
    background: white;
    padding: 9px 10px !important;
    width: 100%;
    border: 1px solid #dcdcdc;
}

.ant-form-item {
    font-weight: bold;
}

.pull-right {
    float:right !important;
}

.footer-bg {
    background: rgb(103,94,130);   
    background: -webkit-gradient(linear, left top, right top, from(rgba(103,94,130,0.9023984593837535)), color-stop(0%, rgba(14,20,62,0.9500175070028011)), to(rgba(4,11,29,0.938813025210084)));   
    background: -o-linear-gradient(left, rgba(103,94,130,0.9023984593837535) 0%, rgba(14,20,62,0.9500175070028011) 0%, rgba(4,11,29,0.938813025210084) 100%);   
    background: linear-gradient(90deg, rgba(103,94,130,0.9023984593837535) 0%, rgba(14,20,62,0.9500175070028011) 0%, rgba(4,11,29,0.938813025210084) 100%);
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    padding: 15px;
}