@import 'assets/css/style.css';
@import '~antd/dist/antd.css';
/* @font-face {
  src: url('https://ufonts.com/fonts/providence-bold.eot');
  src: url('https://ufonts.com/fonts/providence-bold.eot?#iefix') format('embedded-opentype'),
  url('https://ufonts.com/fonts/providence-bold.woff') format('woff'),
  url('https://ufonts.com/fonts/providence-bold.ttf') format('truetype'),
  url('https://ufonts.com/fonts/providence-bold.svg#providence-bold') format('svg');
  font-weight: normal;
  font-style: normal;
} */

body {
  /* font-family: 'providence-bold'; */
  background:#151515;
  font-size: 16px;
  line-height: 1.2em;
  margin: 0 auto;
  color: white;
}